# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-error.log

# Yarn (P'n'P & Offline Mirror)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Testing
/coverage

# Metro
.metro-health-check*

# Logs and lock files
Gemfile.lock
package-lock.json

# React Native bundle
*.jsbundle

# iOS
ios/Pods/
ios/Podfile.lock
ios/.xcode.env
ios/.xcode.env.local
**/.xcode.env.local
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate
DerivedData/
xcuserdata/
build/

# Android
android/build/
android/.cxx/
android/.gradle/
android/local.properties
android/*.iml
*.keystore
!debug.keystore
*.hprof
.idea/

# Xcode (general)
*.xcuserstate

# Kotlin
.kotlin/

# Ruby / CocoaPods
/vendor/bundle/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundler
.bundle/
